<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" data-layout-decorate="~{layout/main_layout}">
<div class="content-wrapper" layout:fragment="content">
    <script th:src="@{/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/ckeditor/ckeditor.js}"></script>
    <script>
        $(function() {
            CKEDITOR.replace('content', {
                filebrowserUploadUrl:'/homeboard/upload',
                height:500,
                extraPlugins : 'confighelper',
            });

            $('#cancelBtn').click(function(){
                window.history.back();
            });

            $("#homeboardForm").submit(()=>{
                var ckContent = CKEDITOR.instances.content.getData(); //ckeditor글내용
                var ckContentLength = CKEDITOR.instances.content.getData().length; //ckeditor에 쓴 글자수


                if($('#title').val()==''){ //제목이 입력되지 않았을때
                    alert("제목을 입력해주세요");
                    $('#title').focus();
                    return false;
                }


                // if($('#title').val().length<6){
                //     alert("제목은 5글자 이상 입력해주세요");
                //     return false;
                // }

                if(ckContent==""){ //본문 내용이 입력되지 않았을때
                    alert("내용을 입력해주세요");
                    CKEDITOR.instances.content.focus();
                    return false;
                }
                // if(ckContentLength < 18){
                //     alert("내용은 열글자 이상 입력해주세요");
                //     CKEDITOR.instances.content.focus();
                //
                //     return false;
                // }
            });
            return true;

        });

        function thumbnailCheck(obj) {
            var pathpoint = obj.value.lastIndexOf('.');
            var filepoint = obj.value.substring(pathpoint + 1, obj.length);
            var filetype = filepoint.toLowerCase();
            if (filetype == 'jpg' || filetype == 'gif' || filetype == 'png' || filetype == 'jpeg') {
                //이미지파일만 선택하게
            } else {
                alert('이미지파일 타입만 선택 가능합니다.');
                //이미지가 선택되지 않으면 파일 창 초기화
                //document.getElementById("file").select();
                // document.selection.clear();
                return false;
            }
        }
    </script>

    <main class="container">
        <!-- Custom styles for this template -->

        <div class="text-center py-5 px-3">
            <h2>게시판</h2>

            <form th:action="@{/homeboard/editOk}"  id="homeboardForm" method="post" enctype="multipart/form-data">
                <hr/>
                <div class="form-group" th:each="board : ${list}">

                    <input type="hidden" name="thumbnail" value="123">
                    <input type="hidden" name="bno" th:value="${board.bno}">

                    <input id="title" type="text" name="title" class="form-control" maxlength="100" th:value="${board.title}"/>
                    <br/>
                    <textarea id="content"  name="content" class="form-control rounded-0" th:text="${board.content}">

			        </textarea>
                    <br/>
                    <input id="hashtag" type="text"   name="hashtag" class="form-control" th:value="${board.hashtag}"/><br/>
                    <br/>
                    <!--썸네일 업로드-->
                    <label for="thumbnail" style="text-align:left">썸네일이미지</label>
                    <input type="file" class="form-control-file" name="file" id="thumbnail" accept="image/gif,image/jpeg, image/png, imgage/jpg"
                           onchange="thumbnailCheck(this)">
                    <br/><br/>

                    <a type="button" id="cancelBtn" class="btn btn-secondary" th:href="@{/homeboard/list}">취소</a>
                    <input type="submit" id="submitBtn" class="btn btn-primary" value="글수정" style="background-color:#E98374;border:1px solid #E98374;text-align:center;"/>
                </div>
            </form>

        </div>

    </main><!-- /.container -->

</div>
</html>
