<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" data-layout-decorate="~{layout/main_layout}">
<div class="content-wrapper" layout:fragment="content">
    <script th:src="@{/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/ckeditor/ckeditor.js}"></script>
    <script>
        $(function() {
            CKEDITOR.replace('content', {
                filebrowserUploadUrl:'/homeboard/upload',
                height:500,
                extraPlugins : 'confighelper',
            });

            $('#cancelBtn').click(function(){
                window.history.back();
            });

            $("#homeboardForm").submit(()=>{
                var ckContent = CKEDITOR.instances.content.getData(); //ckeditor글내용
                var ckContentLength = CKEDITOR.instances.content.getData().length; //ckeditor에 쓴 글자수


                if($('#title').val()==''){ //제목이 입력되지 않았을때
                    alert("제목을 입력해주세요");
                    $('#title').focus();
                    return false;
                }


                // if($('#title').val().length<6){
                //     alert("제목은 5글자 이상 입력해주세요");
                //     return false;
                // }

                if(ckContent==""){ //본문 내용이 입력되지 않았을때
                    alert("내용을 입력해주세요");
                    CKEDITOR.instances.content.focus();
                    return false;
                }
                // if(ckContentLength < 18){
                //     alert("내용은 열글자 이상 입력해주세요");
                //     CKEDITOR.instances.content.focus();
                //
                //     return false;
                // }
            });
            return true;

        });
    </script>

    <main class="container">
        <!-- Custom styles for this template -->

        <div class="text-center py-5 px-3">
            <h2>게시판</h2>

            <form action="#" th:action="@{/homeboard/formOk}"  th:object="${vo}" id="homeboardForm" method="post">
                <hr/>
                <div class="form-group">
                    <input type="hidden" th:field="*{userid}" th:value="${session.userInfo.userid}">
                    <input type="hidden" th:field="*{nickname}" th:value="${session.userInfo.nickname}">
                    <input type="hidden" th:field="*{thumbnail}" value="123">

                    <input id="title" type="text" th:field="*{title}" class="form-control"  placeholder="제목을 입력하세요"  maxlength="100"/>
                    <br/>
                    <textarea id="content" th:field="*{content}" name="content" class="form-control rounded-0" placeholder="글을 입력하세요">
			        </textarea>
                    <br/>
                    <input id="hashtag" type="text" th:field="*{hashtag}" class="form-control" placeholder="해시태그를 입력하세요"/><br/>
                    <br/>
                    <br/>

                    <a type="button" id="cancelBtn" class="btn btn-secondary" th:href="@{/homeboard/list}">취소</a>
                    <input type="submit" id="submitBtn" class="btn btn-primary" value="글작성" style="background-color:#E98374;border:1px solid #E98374;text-align:center;"/>
                </div>
            </form>

        </div>

    </main><!-- /.container -->

</div>
</html>
