<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" data-layout-decorate="~{layout/main_layout}">
<div class="content-wrapper" layout:fragment="content">

<script th:inline="javascript">

    $(function(){


    function homeboardDelCheck(bno) {
        if (confirm('정말로 삭제하시겠습니까?')) {
            location.href = "/homeboard/del?bno="+bno;
        }
    }


    //----------------------------------여기서부터 댓글(AJAX)-------------------------------------------//
    //댓글리스트 구하기
    function commentListSelect() {

        //댓글 수정버튼 클릭시  - 수정폼 보여주기
        $(document).on('click', '.editBtn', function(){
            $(this).parent().parent().parent().next().css("display", "block");
            $(this).parent().parent().parent().css("display", "none");
        });

        var url = "/commentList";
        /*<![CDATA[*/

        var bno = /*[[${list.bno}]]*/ '원글번호';
        var loginId = /*[[${loginId}]]*/ 'loginId';

        /*]]>*/

    console.log("loginId="+loginId);


        var data = "bno="+bno;

        console.log("bno="+bno);


        console.log(data);

        $.ajax({
            url : url,
            data : data,
            success : function(result) {
                var $result = $(result);
                var tag = "";
                $result.each(function(i, v) {
                    tag += '<div><span style="margin: 2px 10px 0 10px; width: 100px;font-weight:bold;">'+v.userid+'</span>';
                    tag += '</div>';

                    //<div col-10>
                    tag += '<div class="col-10">'; //col-10  시작

                    tag += '<span style="width: 80%;color:black">'+v.hbcomment+'</span><br/>';
                    tag += '<span style="color:black;font-size:12px">'+ v.writedate+ '</span>';
                    tag += '<div>'; //
                    //댓글쓴사람과 로그인한 사람이 동일하면  수정삭제 버튼 보이도록
                    if (v.userid == loginId) {
                        tag += '<div><input type="button" class="editBtn" value="수정">&nbsp;&nbsp;';
                        tag += '<input type="button" class="delBtn" title="'+v.hbcno+'" value="삭제"></div>';
                    }

                    tag += '</div>';  //div-row닫기
                    tag += '</div>'; //col-10 닫기
                    if(v.userid == loginId){ //댓글쓴 사람의 아이디가 로그인한 사람과 같으면 수정폼 생성
                        tag += '<div style="display:none">';
                        tag += '<form>';
                        tag += '<input type="hidden" name="userid" value="'+v.userid+'"/>';
                        tag += '<input type="hidden" name="hbcno" value="'+v.hbcno+'"/>';
                        tag += '<textarea class="form-control" name="hbcomment" maxlength="100" style="width: 80%; max-width: 80%;">'+v.hbcomment+'</textarea><br/>';
                        tag += '<input type="submit" value="수정완료">&nbsp;<input type="button" value="취소" class="comment-edit-cancle"></form></div>';
                    }
                    tag += '<hr/>';



                });

                $("#commentList").html(tag);

            },
            error : function() {
                console.log("댓글 전체리스트 불러오기 에러 발생..");
            }
        });
    }



    //새 댓글쓰기


        var hbcomm = $("#hbcomment").val();
        console.log("hbcomment내용="+hbcomm);
        $("#commentWriteForm").submit(function() {
            if ($("#hbcomment").val() == "") {
                alert("댓글을 입력해주세요");
                return false;
            }
            var url = "/commentWrite";
            var params = $("#commentWriteForm").serialize();
            $.ajax({
                url : url,
                data : params,
                success : function(result) {
                    commentListSelect();
                    $("#hbcomment").val("");
                },
                error : function() {
                    console.log("댓글 등록시 에러 발생..");
                }
            });
            return false;

         });


        //댓글 수정하기! -- > 수정 버튼 누르면
        $(document).on('submit', '#commentList form', function(){
            var url = "/commentEdit";
            var params = $(this).serialize();

            $.ajax({
                url : url,
                data : params,
                success : function(result){
                    commentListSelect();
                },error : function(){
                    console.log("댓글 Edit 누를때 에러 Ajax ");
                }
            });
            return false;
        });


    //댓글 삭제하기
    $(document).on('click', '.delBtn', function(){
        if(confirm("정말로 삭제하시겠습니까?")){

            var url = "/commentDel";
            var params = "hbcno="+ $(this).attr("title");

            $.ajax({
                url : url,
                data : params,
                success : function(result){
                    commentListSelect();
                },error : function(){
                    console.log("댓글 삭제시 에러 ");
                }
            });
        }
    });


    //남은 글 개수 구하기
    $('textarea').keypress(function(e) {
        var tval = $('textarea').val(), tlength = tval.length, set = 100, remain = parseInt(set-tlength);
        $('#textLength').text(remain);
        if (remain <= 0 && e.which !== 0 && e.charCode !== 0) {
            $('textarea').val(
                (tval).substring(0, tlength - 1))
        }
    });


        //글내용 보여줄때 댓글 내용도 보여주기
        commentListSelect();

    });





</script>
    <main class="container">
        <!-- Custom styles for this template -->

        <div class="text-center py-5 px-3">
            <h2>게시판</h2>

            <div>
                <h3 th:text="${list.title}"></h3>
                글번호 : <span th:text="${list.bno}"></span>
                작성자: <span th:text="${list.nickname}"></span>
                작성일: <span th:text="${list.writedate}"></span>
                <hr>
                <div th:utext="${list.content}"></div>
                <hr>
                해시태그<br/>
                <div th:text="${list.hashtag}"></div>

                썸네일이미지
<!--                <img th:src="@{'/uploadImg/thu board.userid mbnail/'+${board.thumbnail}}">-->
                <div><span th:text="${list.thumbnail}"></span></div>


            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end" th:if="${session.userInfo != null }">
                <a class="btn btn-primary" th:if="${session.userInfo.userid == list.userid && list.userid != null}" th:href="@{'/homeboard/edit?bno='+${list.bno}}">수정</a>
                &nbsp; <button class="btn btn-primary" th:if="${session.userInfo.userid == list.userid && list.userid != null}" th:onclick="'javascript:homeboardDelCheck(\''+${list.bno}+'\')'" >삭제</button>
            </div>

        </div>



        <!--댓글입력창-->
        <div th:if="${session.userInfo != null }" id="comment">
            <form method="post" id="commentWriteForm">
                <div class="row" style="padding-left:20px;">
                    <div class="co-1"  >
                       <span th:text="${session.userInfo.userid}">userid</span>
                    </div>
                    <div class="col-9">
                        <input type="hidden" name="bno" th:value="${list.bno }"> <!-- 원글번호 저장 -->
                        <input type="hidden" name="userid" th:value="${session.userInfo.userid}">
                        <textarea name="hbcomment" id="hbcomment" class="form-control" placeholder="댓글을 등록해보세요(최대 100글자)" maxlength="100" style="width: 100%; max-width: 100%;"></textarea>

                    </div>

                    <div class="col-1" style="margin:0;text-align:left;">
                        <input type="submit" style="background-color: #E98374;color:white;" class="btn" value="등록" />

                    </div>
                </div>
            </form>

        </div>
        <br/>

        <!--댓글입력창(비로그인상태)-->
        <div th:if="${session.userInfo == null || session.logStatus != 'Y'}" id="commentNoLogin">
            <p>
                댓글은 로그인후 작성 가능합니다. <a th:href="@{/account/login}" style="color: blue;">로그인</a>
            </p>
        </div>
        <div id="commentList">
            <!-- 댓글리스트 나오는 곳 -->
        </div>






    </main><!-- /.container -->












        </div>
</html>
