<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<!-- Custom styles for this template -->
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
    <link href="css/signin.css" th:href="@{/css/signin.css}" rel="stylesheet">
    <title th:text="${pageTitle}"></title>

    <!--Bootstrap JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
</head>


<body>
<div class="text-center">
        <div style="margin-top:150px;"></div>
        <form class="form-signin" th:action="@{/account/loginOk}" method="post">
            <a href="#" th:href="@{/}"><img src="/img/homes_logo.png" style="width:200px"></a><br/>
            <h1 class="h3 mb-3 fw-normal">로그인하세요</h1>
            <label for="inputId" class="visually-hidden">아이디</label>
            <input type="text" name="userid" id="inputId" class="form-control" placeholder="아이디를 입력하세요" required autofocus>
            <label for="inputPassword" class="visually-hidden">비밀번호</label>
            <input type="password" name="userpwd" id="inputPassword" class="form-control" placeholder="비밀번호를 입력하세요" required>
            <button class="w-100 btn btn-lg btn-primary" type="submit">로그인</button>
            <p class="mt-5 mb-3 text-muted">&copy;2021</p>
        </form>

</div>
</body>
</html>