<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout/main_layout}">

<div class="content-wrapper" layout:fragment="content">
    <main class="container">

        <!--bxSlider-->
        <ul id="bxslider">
            <li><a href="#"><img
                    src="https://g-grafolio.pstatic.net/20210113_57/1610529631779XoeqP_JPEG/FEFB511B-8142-40EF-BE98-F171773FE174.jpeg"/></a>
            </li>
            <li><a href="#"><img
                    src="https://g-grafolio.pstatic.net/20200414_44/1586828817535IWK24_JPEG/5AEFCB78-BEC6-4A72-BCA0-19C25D5EA020.jpeg?type=w896_2"/></a>
            </li>
            <li><a href="#"><img
                    src="https://g-grafolio.pstatic.net/20190430_177/1556610618565jSBkK_JPEG/%C5%A9%B1%E2%BA%AF%C8%AF_%C6%F7%B8%CB%BA%AF%C8%AF__DSC0016-00-2.jpg?type=w896_2"/></a>
            </li>
        </ul>


        <!-- 집들이 리스트 -->
        <div class="container homeboard-container" style="margin-top:45px;">
            <div class="row">
                <div class="col-10">
                    <h3 style="font-size:22px;font-weight:bold">&nbsp;&nbsp;인기집들이</h3>
                </div>
                <div class="col-2" style="text-align:right;">
                    <a href="#">더보기</a>
                </div>
            </div>
            <br/>
            <!-- 집들이 리스트 나오는 곳  -->
            <div class="row">
                <div class="col-4">
                    <div class="thumbnail">
                        <a href="#">
                            <img src="https://g-grafolio.pstatic.net/20200414_44/1586828817535IWK24_JPEG/5AEFCB78-BEC6-4A72-BCA0-19C25D5EA020.jpeg?type=w896_2"/></a>
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            <a href="#">글 제목 들어가는 곳</a>
                        </div>
                        <img class="profile_pic" src="/img/ddung.JPG">
                        <a href="#" class="card-text">유저아이디</a>
                        <p class="card-detail">스크랩:10 | 조회: 100 | 2021.02.18
                        </p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="thumbnail">
                        <a href="#"><img
                                src="https://g-grafolio.pstatic.net/20200414_44/1586828817535IWK24_JPEG/5AEFCB78-BEC6-4A72-BCA0-19C25D5EA020.jpeg?type=w896_2"/></a>
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            <a href="#">글 제목 들어가는 곳</a>
                        </div>
                        <img class="profile_pic" src="/img/ddung.JPG">
                        <a href="#" class="card-text">유저아이디</a>
                        <p class="card-detail">스크랩:10 | 조회: 100 | 2021.02.18
                        </p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="thumbnail">
                        <a href="#"><img
                                src="https://g-grafolio.pstatic.net/20200414_44/1586828817535IWK24_JPEG/5AEFCB78-BEC6-4A72-BCA0-19C25D5EA020.jpeg?type=w896_2"/></a>
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            <a href="#">글 제목 들어가는 곳</a>
                        </div>
                        <img class="profile_pic" src="/img/ddung.JPG">
                        <a href="#" class="card-text">유저아이디</a>
                        <p class="card-detail">스크랩:10 | 조회: 100 | 2021.02.18
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- 상품리스트 -->
        <div class="container store-list-container" style="margin-top:45px;">
            <div class="row">
                <div class="col-10">
                    <h3 style="font-size:22px;font-weight:bold">&nbsp;&nbsp;스토어</h3>
                </div>
                <div class="col-2" style="text-align:right;">
                    <a href="#">더보기</a>
                </div>
            </div>
            <div class="row">
                <div class="col-4 store-list" style="cursor:pointer;"
                     onclick="window.location='#'">
                    <div class="thumbnail">
                        <img src="https://g-grafolio.pstatic.net/20190430_177/1556610618565jSBkK_JPEG/%C5%A9%B1%E2%BA%AF%C8%AF_%C6%F7%B8%CB%BA%AF%C8%AF__DSC0016-00-2.jpg?type=w896_2"/>
                    </div>
                    <div class="card-body">
                        <div class="store-name">스토어이름</div>
                        <div class="product-name">판매상품 제목</div>
                        <span class="store-discount">15%</span>
                        <span class="store-price">30,000원</span>
                        <span class="badge badge-info">판매중</span>
                    </div>
                </div>
                <div class="col-4 store-list" style="cursor:pointer;"
                     onclick="window.location='#'">
                    <div class="thumbnail">
                        <img src="https://g-grafolio.pstatic.net/20190430_177/1556610618565jSBkK_JPEG/%C5%A9%B1%E2%BA%AF%C8%AF_%C6%F7%B8%CB%BA%AF%C8%AF__DSC0016-00-2.jpg?type=w896_2"/>
                    </div>
                    <div class="card-body">
                        <div class="store-name">스토어이름</div>
                        <div class="product-name">판매상품 제목</div>
                        <span class="store-discount">15%</span>
                        <span class="store-price">30,000원</span>
                        <span class="badge badge-info">판매중</span>
                    </div>
                </div>
                <div class="col-4 store-list" style="cursor:pointer;"
                     onclick="window.location='#'">
                    <div class="thumbnail">
                        <img src="https://g-grafolio.pstatic.net/20190430_177/1556610618565jSBkK_JPEG/%C5%A9%B1%E2%BA%AF%C8%AF_%C6%F7%B8%CB%BA%AF%C8%AF__DSC0016-00-2.jpg?type=w896_2"/>
                    </div>
                    <div class="card-body">
                        <div class="store-name">스토어이름</div>
                        <div class="product-name">판매상품 제목</div>
                        <span class="store-discount">15%</span>
                        <span class="store-price">30,000원</span>
                        <span class="badge badge-info">판매중</span>
                    </div>
                </div>

            </div>
        </div>


    </main><!-- /.container -->
</div>
</html>
