<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout/main_layout}">




<div class="content-wrapper" layout:fragment="content">
    <main class="container">

        <script>
            $(document).ready(function(){
                $('#bxslider').bxSlider({
                    pager:false}
                );
            });
        </script>




        <!--공지사항-->

        <div  class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">공지사항</h6>
            <div class="media text-muted pt-3" th:each="board : ${mainList}" >

                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <a class="text-gray-dark" th:href="@{/homeboard/view(bno=${board.bno})}" th:text="${board.title}">제목</a>
                    </div>
                    <span class="d-block" th:text="${board.nickname}">@username</span>
                </div>
            </div>

            <small class="d-block text-right mt-3">
                <a th:href="@{/homeboard/list}">모든 공지사항 보기</a>
            </small>
        </div>
        <br/>

        <!-- 후기 -->
        <div>

            <div class="row">
                <div class="col-md-10">
                    <h3 style="font-size:22px;font-weight:bold">최근글</h3>
                </div>
                <div class="col-md-2" style="text-align:right;">
                    <a th:href="@{/homeboard/list}">더보기</a>
                </div>
                <br/>
                <!-- 집들이 리스트 나오는 곳  -->


                <div class="col-md-4" th:each="board : ${mainList}">
                    <div class="thumbnail">
                        <a href="#"><img th:src="@{'/uploadImg/thumbnail/'+${board.thumbnail}}"></a>
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            <a href="#" th:text="${board.title}">제목</a>
                        </div>

                        <a href="#" class="card-text" th:text="${board.nickname}">아이디</a>
                        <p class="card-detail" th:text="${board.writedate}">
                        </p>
                    </div>

                </div>

            </div>
        </div>

        <!--bxSlider-->
        <ul id="bxslider">
            <li><a href="#">
                <img class="bxslider-img" src="https://g-grafolio.pstatic.net/20210113_57/1610529631779XoeqP_JPEG/FEFB511B-8142-40EF-BE98-F171773FE174.jpeg"/></a>
            </li>
            <li><a href="#">
                <img class="bxslider-img" src="https://g-grafolio.pstatic.net/20200414_44/1586828817535IWK24_JPEG/5AEFCB78-BEC6-4A72-BCA0-19C25D5EA020.jpeg?type=w896_2"/></a>
            </li>
            <li><a href="#">
                <img class="bxslider-img" src="https://g-grafolio.pstatic.net/20190430_177/1556610618565jSBkK_JPEG/%C5%A9%B1%E2%BA%AF%C8%AF_%C6%F7%B8%CB%BA%AF%C8%AF__DSC0016-00-2.jpg?type=w896_2"/></a>
            </li>
        </ul>






    </main><!-- /.container -->
</div>
</html>