<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout/main_layout}">
<div class="content-wrapper" layout:fragment="content">
    <link href="css/homes-mypage.css" th:href="@{/css/homes-mypage.css}" rel="stylesheet">
    <div class="container">
    <h3 id="mypage-title">마이페이지</h3>

    <div class="row">

        <div class="card col-3 mypage-profile"><br/>
            <!-- 프로필이미지 -->
            <div class="profile-img" style="text-align:center;">
                <img src="img/ddung.JPG">
            </div>
            <br/>
            <!-- 닉네임 -->
            <h4 style="font-family:SCDream5;">닉네임</h4>
            <a href="#" class="btn btn-user alert-clean" style="float:right;color:gray">회원정보수정</a>
            <hr>
            <div class="row">
                <!-- 위시리스트 바로가기버튼-->
                <div class="col-2"></div>
                <div class="col-4">
                    <a href="#">
                        <img src="/img/wishlist2.png" style="width:60px"/><br/>
                        위시리스트
                    </a>
                </div>
                <!-- 스크랩 바로가기버튼 -->
                <div class="col-4">
                    <a href="#">
                        <img src="/img/scrap2.png" style="width:60px"/><br/>
                        스크랩</a>
                </div>
                <div class="col-2"></div>
            </div>

            <hr>
        </div><!-- mypage 프로필부분 끝 -->


        <!-- 마이페이지 요약기능 -->
        <div class="col-9"><br/>
            <div class="card card border-light mb-3">
                <div class="card-header">
                    나의 쇼핑<a href="#" style="float:right;">더보기</a>
                </div>
                <div class="card-body"><!-- card-body 시작 -->

                    <div class="col-lg-12 center-block" id="myShopping">
                        <div><br/>입금대기
                            <hr>
                            0 건<br/><br/></div>
                        <div><br/>결제완료
                            <hr>
                            0 건<br/><br/></div>
                        <div><br/>배송중
                            <hr>
                            0 건<br/><br/></div>
                        <div><br/>배송완료
                            <hr>
                            0 건<br/><br/></div>
                        <div><br/>구매확정
                            <hr>
                            0 건<br/><br/></div>
                    </div>
                </div>
            </div>

            <br/>

            <!-- 위시리스트 -->

            <div class="card card border-light mb-3" style="height:290px;">
                <div class="card-header">
                    위시리스트
                    <a href="#" style="float:right;">더보기</a>

                </div>


                <div class="card-body"><!-- card-body 시작 -->
                    <br/>
                    <div class="row">
                        <span style="margin:0 auto;color:black;">아직 관심있는 상품이 없습니다</span>
                    </div>
                </div>
            </div>

            <br/>


            <!-- 스크랩 -->
            <div class="card border-light mb-3" style="height:290px;">
                <div class="card-header">스크랩
                    <a href="#" style="float:right;">더보기</a>
                </div>

                <div class="card-body"><!-- card-body 시작 -->
                    <div class="row">

                        <div class="col-3">
                            <div class="thumbnail">
                                <a href="#"><img
                                        src="https://g-grafolio.pstatic.net/20210113_57/1610529631779XoeqP_JPEG/FEFB511B-8142-40EF-BE98-F171773FE174.jpeg"/></a>
                            </div>
                            <div class="card-body">
                                <div class="card-title">
                                    <a href="#">집들이 글 제목</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- 나의 작성글-->
            <div class="card border-light mb-3">
                <div class="card-header">
                    나의 작성 글
                    <a href="#" style="float:right;">더보기</a>
                </div>

                <div class="card-body"><!-- card-body 시작 -->
                    <div class="row">
                        <div style="width:100%;height:100px;text-align:center;line-height:100px;">
                            아직 작성한 글이 없습니다
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
</div>
</html>