<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout/main_layout}">
<div class="content-wrapper" layout:fragment="content">
    <link href="css/homes-mypage.css" th:href="@{/css/homes-mypage.css}" rel="stylesheet">

    <div class="container">
    <h3 id="mypage-title">마이페이지</h3>

    <div class="row">
        <div class="col-3" th:fragment="mypageMenu"><br/>
            <!--프로필사진-->
            <img class="profile-img" th:src="@{/img/ddung.JPG}">
            <br/>
            <h4>닉네임</h4>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="#" th:href="@{/mypage/dashboard}" class="btn alert-clean">메인</a>
                </li>
                <li class="list-group-item">
                    <a href="#" th:href="@{/mypage/memberedit}"class="btn alert-clean">회원정보수정</a>
                </li>
                <li class="list-group-item">
                    <a href="#" th:href="@{/mypage/myshopping}" class="btn alert-clean">주문내역</a>
                </li>
                <li class="list-group-item">
                    <a href="#" th:href="@{/mypage/wishlist}" class="btn alert-clean">위시리스트</a>
                </li>
                <li class="list-group-item">
                    <a href="#" th:href="@{/mypage/mycontent}" class="btn alert-clean">내가작성한 글</a>
                </li>

            </ul>

        </div><!-- mypage 프로필부분 끝 -->

        <!-- 마이페이지 요약기능 -->
        <div class="col-9"><br/>
            <div class="card card border-light mb-3">
                <div class="card-header">나의 쇼핑</div>
                <div class="card-body"><!-- card-body 시작 -->

                    <div class="col-lg-12 center-block" id="myShopping">
                        <div><br/>입금대기
                            <hr>
                            0 건<br/><br/></div>
                        <div><br/>결제완료
                            <hr>
                            0 건<br/><br/></div>
                        <div><br/>배송중
                            <hr>
                            0 건<br/><br/></div>
                        <div><br/>배송완료
                            <hr>
                            0 건<br/><br/></div>
                        <div><br/>구매확정
                            <hr>
                            0 건<br/><br/></div>
                    </div>
                </div>
            </div>

            <br/>

            <!-- 위시리스트 -->

            <div class="card card border-light mb-3" style="height:290px;">
                <div class="card-header">위시리스트</div>
                <div class="card-body"><!-- card-body 시작 -->
                    <br/>
                    <div class="row">
                        <span>아직 관심있는 상품이 없습니다</span>
                    </div>
                </div>
            </div>

            <br/>


            <!-- 스크랩 -->
            <div class="card border-light mb-3" style="height:290px;">
                <div class="card-header">스크랩</div>

                <div class="card-body"><!-- card-body 시작 -->
                    <div class="row">

                        <div class="col-3">
                            <div class="thumbnail">
                                <a href="#"><img
                                        src="https://g-grafolio.pstatic.net/20210113_57/1610529631779XoeqP_JPEG/FEFB511B-8142-40EF-BE98-F171773FE174.jpeg"/></a>
                            </div>
                            <div class="card-body">
                                <div class="card-title">
                                    <a href="#">집들이 글 제목</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- 나의 작성글-->
            <div class="card border-light mb-3">
                <div class="card-header">
                    나의 작성 글
                </div>

                <div class="card-body"><!-- card-body 시작 -->
                    <div class="row">
                        <div>
                            아직 작성한 글이 없습니다
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
</div>
</html>