html,
body {
    height: 100%;
}
@font-face {
    src: url("../fonts/SCDream5.otf") format("opentype");
    font-family: "SCDream5";
    font-style: normal;
    font-weight: normal;
}

@font-face {

    src: url("../fonts/SCDream3.otf") format("opentype");
    font-family: "SCDream3";
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: 'SCDream3';
    padding-top: 20px;
    background-color: #f5f5f5;
}

.form-signup-title{
    font-family: 'SCDream5';
}

.form-signup {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
    text-align:left!important;
}

.text-center{
    padding-bottom: 200px;
}





