<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myapp.sunnypickup.mapper.LoginMapper">
    <select id="loginCheck" resultType="com.myapp.sunnypickup.vo.MemberVO">
        select userid,
               username,
               regcode,
               status
        from register
        where userid=#{userid}
            and userpwd=#{userpwd}
    </select>

</mapper>
