<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myapp.sunnypickup.mapper.LoginMapper">
    <select id="loginCheck" resultType="com.myapp.sunnypickup.vo.MemberVO">
        select userid,
               userpwd,
               username,
               nickname,
               regcode,
               status
        from register
        where userid=#{userid}
    </select>

    <select id="dupFilter" resultType="String">
        select userid
        from register
        where userid=#{userid}
    </select>


    <!-- 회원정보 입력 -->
    <insert id="addMember" parameterType="com.myapp.sunnypickup.vo.MemberVO">
        insert into register(
                    userid,
                    userpwd,
                    username,
                    nickname,
                    profile,
                    tel,
                    email,
                    point,
                    regcode,
                    status,
                    regdate)
            values(#{userid},#{userpwd},#{username},#{nickname},#{profile},#{tel},#{email},'0',#{regcode}, '0', now())
    </insert>

    <update id="statusChange" parameterType="com.myapp.sunnypickup.vo.MemberVO">
        update register
        set status='1'
        where userid = #{userid}
    </update>

</mapper>




