<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Custom styles for this template -->
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
    <link href="css/signup.css" th:href="@{/css/signup.css}" rel="stylesheet">
    <!--<title th:text="${pageTitle}"></title>-->

    <!--Bootstrap JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript">

       function passwordCheckFunction(){
           var userPwd1 = $('#userPwd1').val();
           var userPwd2 = $('#userPwd2').val();
           if(userPwd1 != userPwd2 ){
               $('#passwordCheckMessage').html('비밀번호가 일치하지 않습니다');
           }else{
               $('#passwordCheckMessage').html('');
           }
       }

       $(function(){
           $('#signupBtn').click(function(){
               var userPwd1 = $('#userPwd1').val();
               var userPwd2 = $('#userPwd2').val();
               if(userPwd1 != userPwd2){
                   alert("비밀번호가 일치하지않습니다.");
                   return false;
               }
           });
       });


    </script>


</head>


<body>
<div class="text-center">
    <div style="margin-top:150px;"></div>
    <a href="#" th:href="@{/}"><img src="/img/sunny_logo.png" style="width:200px"></a><br/>
    <h3 class="form-signup-title">회원가입</h3>
    <div class="form-signup">

        <div class="form-row">
            <label for="userid" style="padding-right:10px;">*아이디</label>
            <button type="button" id=dupFilter class="input-group-text">중복검사</button>
            <input type="text" name="userid" id="userid" placeholder="영문,숫자조합 6~13글자" class="form-control"/>

        </div>
        <label for="userPwd1">*비밀번호</label>
        <input type="password" name="userpwd" id="userPwd1" class="form-control" onkeyup="passwordCheckFunction();" placeholder="영문,숫자,특수문자조합 6~15글자"/>

        <label for="userPwd2">*비밀번호 확인</label>
        <input type="password" id="userPwd2" class="form-control" onkeyup="passwordCheckFunction();" placeholder="비밀번호 확인"/>
        <span style="color:red;size:10px;" id="passwordCheckMessage"></span><br/>

        <label for="username">*이름</label>
        <input type="text" name="username" id="username" placeholder="본명으로 입력해주세요" class="form-control"/>

        <label for="nickname">닉네임</label>
        <input type="text" name="nickname" id="nickname" placeholder="특수문자 제외 3~10자" class="form-control"/>


        <label for="m_pic">프로필사진</label>
        <input type="file" name="m_pic" id="m_pic" class="form-control">
        <br/>

        <label for="tel">*연락처</label>
        <input type="text" name="tel" id="tel" placeholder="'-생략 입력'" class="form-control"/>


        <label for="email">*이메일</label>
        <input class="form-control" type="text" id="email" name="email" placeholder="이메일 입력"/>
        <br/>


        <input id="signupBtn" class="btn btn-lg btn-primary btn-block" type="button" value="회원가입"/>

        </form>

    </div>
    <a href="#" th:href="@{/account/login}">이미 가입하셨나요?</a><br/><a href="#" th:href="@{/}"> 홈으로</a>
</div>
</div>
</body>

</html>
